.content {
    width: 100%;
    height:100%;
    padding: 20px;
    overflow-y:scroll;
}
.content__container{
    background-color: #fff;;
    height:100%;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;;
    
}
.content__container::-webkit-scrollbar { 
    width: 0; 
}
.content::-webkit-scrollbar { 
    width: 0; 
}

.layout{
    height: 100%;
}