.review_info_panel {
    height: 100%;
    width: 100%;
}

.review_info_panel__card {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.review_info_panel__form {
    width: 100%;
}
.review_info_panel__block{
    width:100%;
}
